.Red{
   
    color: red;
    background-color: red   ;
}

.Orange{
   
    color: orange;
    background-color: orange;
}

.Blue{
   
    color: blue;
    background-color:blue  ;
}
*{
    font-size: xx-large;
}

.Green{
    background-color: green;
}
