.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.color-yellow{
    color: yellow;

}
.color-black{
    color: black;
}
.stars{
  display: flex;
 flex-direction: row;
}
.thank_you_note{
    
}